In [5]:
import pandas as pd
import random
# import xlsxwriter

In [23]:
filename = '/home/kathrin/dev_ws/csv_files/test/apriltag_data_v2.xlsx'

load_excel = False
create_excel = False

original_columns = ['time', 'frame index',
                    'trans x original', 'trans y original', 'trans z original',
                    'rot w original', 'rot x original', 'rot y original', 'rot z original']
mot_3_zscore_3_columns = ['trans x mot3z3', 'trans y mot3z3', 'trans z mot3z3', 
                          'rot x deg mot3z3', 'rot y deg mot3z3', 'rot z deg mot3z3']

if load_excel:
    try:
        df = pd.read_excel('evaluation.xlsx', sheet_name='AprilTag')
        df = df.iloc[: , 1:]
    except ValueError:
        values = [0, 0, 0, 0, 30, 0, 0, 0, 0]
        dictionary = dict(zip(original_columns, values))
        df = pd.DataFrame(data=dictionary, index=[0])
else:
    values = [0, 0, 0, 0, 30, 0, 0, 0, 0]
    dictionary = dict(zip(original_columns, values))
    df = pd.DataFrame(data=dictionary, index=[0])

all_series = list()

for i in range(100):
    values = [0, i+1, 0, 0, 30, 0, random.normalvariate(0, 4), random.normalvariate(0, 4), random.normalvariate(0.175, 4)] 
    resulting_series = [pd.Series(data=values, index=original_columns)]
    
    if not (i + 1)%3:
        values = [0, 0, 30, random.normalvariate(0, 4), random.normalvariate(0, 4), random.normalvariate(10, 4)] 
        resulting_series.append(pd.Series(data=values, index=mot_3_zscore_3_columns))
        
    all_series.append(pd.concat(resulting_series))


df = pd.concat([df, pd.concat(all_series, axis=1).T], ignore_index=True)

if create_excel:
    df.to_excel(filename, sheet_name='AprilTag')


df2 = df.iloc[2, 1:]
# df2
vals = list()
for i in ['original', 'mot3z3']:
    vals.append([df2['trans x '+i], df2['trans y '+i], df2['trans z '+i]])
# df
print(vals)
print(original_columns[2:5])
df3 = pd.DataFrame(data=vals, columns=original_columns[2:5])
df3

[[0.0, 0.0, 30.0], [nan, nan, nan]]
['trans x original', 'trans y original', 'trans z original']

   trans x original  trans y original  trans z original
0               0.0               0.0              30.0
1               NaN               NaN               NaN

In [6]:
from math import pi

In [7]:
print(pi)

3.141592653589793

In [10]:
liste = ['test', 'test2', 'test3']
print(liste[:2])

['test', 'test2']

In [19]:
import pandas as pd
import random

original_columns = ['time', 'frame index',
                    'trans x original', 'trans y original', 'trans z original',
                    'rot w original', 'rot x original', 'rot y original', 'rot z original',
                    'rot x deg', 'rot y deg', 'rot z deg']
values = [0, 0, 
          0, 0, 30, 
          0, random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(0.175, 3), 
          random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(10, 3)] 
resulting_series = [pd.Series(data=values, index=original_columns)]
values = [0, 1, 
          0, 0, 30, 
          0, random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(0.175, 3), 
          random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(10, 3)] 
resulting_series += [pd.Series(data=values, index=original_columns)]
values = [0, 2, 
          0, 0, 30, 
          0, random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(0.175, 3), 
          random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(10, 3)] 
resulting_series += [pd.Series(data=values, index=original_columns)]

# print(resulting_series[0])

df = pd.concat(resulting_series, axis=1).T

# print(df)

df = pd.concat([df[original_columns[2:5]], df[original_columns[-3:]]], axis=1)
# print(df)

print(type(df.mean()))

<class 'pandas.core.series.Series'>

In [1]:
# filename = '/home/kathrin/dev_ws/csv_files/test/eval_data.xlsx'

# df = pd.read_excel(filename, sheet_name='NonExistent')

liste = [1, 2, 3, 4, 5]
print(liste*5)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [11]:
filename = '/home/kathrin/dev_ws/csv_files/test/multiple_sheets.xlsx'

df1 = pd.DataFrame({'Data': [11, 12, 13, 14]})
df2 = pd.DataFrame({'Data': [21, 22, 23, 24]})
df3 = pd.DataFrame({'Data': [31, 32, 33, 34]})

with pd.ExcelWriter(filename, engine='openpyxl') as writer:
    df1.to_excel(writer, sheet_name='Sheet1')
    df2.to_excel(writer, sheet_name='Sheet2')
    df3.to_excel(writer, sheet_name='Sheet3')
    writer.save()

In [15]:
df4 = pd.read_excel(filename, sheet_name='Sheet1').loc[1:]
with pd.ExcelWriter(filename, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:  
    df4.to_excel(writer, sheet_name='Sheet4')

In [ ]:
import pandas as pd

series1 = pd.Series(data=[1, 1, 1, 1], index=['a 1', 'b 1', 'c 1', 'd 1'])
series2 = pd.Series(data=[2, 2, 2, 2], index=['a 2', 'b 2', 'c 2', 'd 2'])