In [1]:
import pandas as pd
import random

In [5]:
filename = '/home/kathrin/dev_ws/csv_files/test/apriltag_data_v2.xlsx'

load_excel = False
create_excel = True

original_columns = ['time', 'frame index',
                    'trans x original', 'trans y original', 'trans z original',
                    'rot w original', 'rot x original', 'rot y original', 'rot z original']
mot_3_zscore_3_columns = ['trans x mot3z3', 'trans y mot3z3', 'trans z mot3z3', 
                          'rot x deg mot3z3', 'rot y deg mot3z3', 'rot z deg mot3z3']

if load_excel:
    try:
        df = pd.read_excel('evaluation.xlsx', sheet_name='AprilTag')
        df = df.iloc[: , 1:]
    except ValueError:
        values = [0, 0, 0, 0, 30, 0, 0, 0, 0]
        dictionary = dict(zip(original_columns, values))
        df = pd.DataFrame(data=dictionary, index=[0])
else:
    values = [0, 0, 0, 0, 30, 0, 0, 0, 0]
    dictionary = dict(zip(original_columns, values))
    df = pd.DataFrame(data=dictionary, index=[0])

all_series = list()

for i in range(100):
    values = [0, i+1, 0, 0, 30, 0, random.normalvariate(0, 4), random.normalvariate(0, 4), random.normalvariate(0.175, 4)] 
    resulting_series = [pd.Series(data=values, index=original_columns)]
    
    if not (i + 1)%3:
        values = [0, 0, 30, random.normalvariate(0, 4), random.normalvariate(0, 4), random.normalvariate(10, 4)] 
        resulting_series.append(pd.Series(data=values, index=mot_3_zscore_3_columns))
        
    all_series.append(pd.concat(resulting_series))


df = pd.concat([df, pd.concat(all_series, axis=1).T], ignore_index=True)

if create_excel:
    df.to_excel(filename, sheet_name='AprilTag')
df

,time,frame index,trans x original,trans y original,trans z original,rot w original,rot x original,rot y original,rot z original,trans x mot3z3,trans y mot3z3,trans z mot3z3,rot x deg mot3z3,rot y deg mot3z3,rot z deg mot3z3
0,0.0,0.0,0.0,0.0,30.0,0.0,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1.0,0.0,0.0,30.0,0.0,-4.129394,-6.403559,-2.333064,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,2.0,0.0,0.0,30.0,0.0,-0.634534,-2.501432,0.153541,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,3.0,0.0,0.0,30.0,0.0,-3.538153,2.872084,4.345252,0.0,0.0,30.0,-7.142011,1.337155,10.498385
4,0.0,4.0,0.0,0.0,30.0,0.0,2.331211,2.950157,-0.468251,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0.0,96.0,0.0,0.0,30.0,0.0,3.979677,2.062400,5.493232,0.0,0.0,30.0,-5.371472,1.942627,14.616555
97,0.0,97.0,0.0,0.0,30.0,0.0,-5.143242,-7.988335,1.162981,NaN,NaN,NaN,NaN,NaN,NaN
98,0.0,98.0,0.0,0.0,30.0,0.0,-0.364421,-3.306974,0.585129,NaN,NaN,NaN,NaN,NaN,NaN
99,0.0,99.0,0.0,0.0,30.0,0.0,4.055536,0.030907,-7.747274,0.0,0.0,30.0,-0.433819,-3.192412,8.682036
100,0.0,100.0,0.0,0.0,30.0,0.0,1.681399,-1.823521,-2.364041,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
from math import pi

In [7]:
print(pi)

3.141592653589793

In [10]:
liste = ['test', 'test2', 'test3']
print(liste[:2])

['test', 'test2']

In [19]:
import pandas as pd
import random

original_columns = ['time', 'frame index',
                    'trans x original', 'trans y original', 'trans z original',
                    'rot w original', 'rot x original', 'rot y original', 'rot z original',
                    'rot x deg', 'rot y deg', 'rot z deg']
values = [0, 0, 
          0, 0, 30, 
          0, random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(0.175, 3), 
          random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(10, 3)] 
resulting_series = [pd.Series(data=values, index=original_columns)]
values = [0, 1, 
          0, 0, 30, 
          0, random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(0.175, 3), 
          random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(10, 3)] 
resulting_series += [pd.Series(data=values, index=original_columns)]
values = [0, 2, 
          0, 0, 30, 
          0, random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(0.175, 3), 
          random.normalvariate(0, 3), random.normalvariate(0, 3), random.normalvariate(10, 3)] 
resulting_series += [pd.Series(data=values, index=original_columns)]

# print(resulting_series[0])

df = pd.concat(resulting_series, axis=1).T

# print(df)

df = pd.concat([df[original_columns[2:5]], df[original_columns[-3:]]], axis=1)
# print(df)

print(type(df.mean()))

<class 'pandas.core.series.Series'>

In [1]:
# filename = '/home/kathrin/dev_ws/csv_files/test/eval_data.xlsx'

# df = pd.read_excel(filename, sheet_name='NonExistent')

liste = [1, 2, 3, 4, 5]
print(liste*5)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]